<!DOCTYPE html>
    <html lang="en">
    <head>
        <title>Chore Wars | Home</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body id="homePage" >
        <a href="/" id="homeButton" class="button-55" role="button">
            <iconify-icon icon="material-symbols:home-outline-rounded" style="color: red;" width="30" height="30"></iconify-icon>
        </a>
        <a href="/<%- valLink%>" id="logButton" class="button-55" role="button"><%-valButton%></a>
        <div id="menu">
            <h1>Chore Wars</h1>

            <a class="<%- styleLoggedOut %>" role="button" href="/login">Sign In</a><br><br>
            <a  class="<%- styleLoggedIn %>" role="button" href="/tasks">View Tasks</a><br><br>
            <a  class="<%- styleLoggedIn %>" role="button" href="/leaderboard">Leaderboard</a><br><br>
            <a  class="<%- styleLoggedIn %>" role="button" href="/createTasks">Create Tasks</a><br>

            <p>Logged in as <%- username %></p>
        </div>
    </body>
</html>